body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-top: 0;
}

.meldung {
  margin: 1rem 0;
  padding: 0.7rem;
  border: 1px solid black;
}

.info {
  background-color: #d2e3ff;
}

.warnung {
  background-color: #fdf2cd;
}

.fehler {
  background-color: #f5d6da;
}

.erfolg {
  background-color: #d1e7dd;
}
