#Elternelement1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(247, 230, 0);
}

#Elternelement2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(247, 230, 0);
}

button {
  width: 250;
  height: 30px;
  border: 2px solid;
  border-color: rgb(247, 230, 0);
  background-color: rgb(247, 230, 0);
  font-weight: 700;
  font-family: Arial;
  cursor: pointer;
  color: black;
}
/* Veränderung Button bei Berührung mit Pfeil*/
button:hover {
  background-color: rgb(247, 200, 0);
  color: black;
}

#Ueberschrift {
  color: black;
  font-size: 30px;
}
